<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/static/site.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  </head>

<body>

  <div class="row">

    <!-- Navbar -->
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <a class="navbar-brand" href="/">Fabien Devos</a>

          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/contact.html">Contact</a></li>
          </ul>
      </div>
      </div>
    </nav>

    <!-- Left spacing -->
    <div class="col-md-1"></div>

    <!-- Content -->
    <div class="col-md-8">
      <div class="container-fluid transparent-frame">
        {{ content }}
      </div>
    </div>

    <!-- Right column -->
    <div class="col-md-3">
      <div class="container-fluid transparent-frame">
        <img src="/images/fab_profile.jpg" class="img-circle pull-right gray-scale" height="33%" width="33%">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </div>
    </div>

  </div>

</body>


</html>
