<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Fabien Devos</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:wght@300;400&family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/normalize.css">
  <!-- <link rel="stylesheet" href="static/skeleton.css"> -->
  <link rel="stylesheet" href="static/site.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/jpg" href="images/fab_profile.jpg">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <nav class="navbar">
    <ul>
      <li><a href="#projects">Projects</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/">Links</a></li>
    </ul>
  </nav>

  <div class="vibrant vertical-layout centered centered-cross" style="padding-bottom: 50px;">
    <div class="horizontal-layout centered centered-cross">
      <img src="images/fab_profile.jpg" class="profilepic"/>
      <h1>Hi 👋 I'm Fabien.</h1>
    </div>
    <p>Some text and some <a href="/">link</a>.</p>
    <h2 id="projects">Projects</h2>
  </div>
  <div class="horizontal-layout centered">
    <div class="card" style="margin-top: -50px; width:560px; height: 500px;">
      <div class="vertical-layout">
        <!-- Slideshow container -->
        <div class="slideshow-container">

          <!-- Full-width images with number and caption text -->
          <div class="slides fade">
            <div class="numbertext">1 / 3</div>
            <img src="images/cover.jpg" style="width:100%; height: 200px;">
            <div class="text">Caption Text</div>
          </div>

          <div class="slides fade">
            <div class="numbertext">2 / 3</div>
            <img src="images/lagoon_nebula_small.jpg" style="width:100%; height: 200px;">
            <div class="text">Caption Two</div>
          </div>

          <div class="slides fade">
            <div class="numbertext">3 / 3</div>
            <iframe
              width="100%"
              height="200px"
              src="https://www.youtube.com/embed/ufW364Pmldc"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              >
            </iframe>

            <!-- <img src="images/lagoon_nebula_small.jpg" style="width:100%"> -->
            <div class="text">Caption Three</div>
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div>
      <h1>H1</h1>
      <h2>H2</h2>
      <h3>H3</h3>
      <h4>H4</h4>
      <h5>H5</h5>
      <p>This is a <a href="/">link</a>.</p>
    </div>

    <h1>Fab</h1>
    <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
    <a class="button button-primary" href="http://fabiendevos.com">Back</a>
  </div>

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="static/site.js"></script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
